.aboutText{
    width: clamp(200px, 50%, 800px);
    font-size: 1em;
}
.aboutText span{
    margin: 10px 0;
    display: flex;
}
.subHeading{
    margin: 10px 0 30px 0;
    font-size: 2em;
    text-align: right;
    font-weight: 600;
}
.links{
    margin-top: 50px;
    display: flex;
    gap: 25px;
    align-items: center;
    font-size: 3em;
}
.links svg{
    transition: 0.2s;
}
.links svg:hover{
    scale: 1.1;
}
.aboutTextContainer{
    display: flex;
    gap: 56px;
    justify-content: space-between;
    padding: 0 10px;
}
@media (max-width: 1024px) {
    .aboutTextContainer{
        flex-direction: column;
        align-items: center;
        gap: 85px;
    }
    .aboutText{
        width: 95%;
        max-width: 800px;
        font-size: 1em;
    }
}
@media (max-width: 640px){
    .links{
        justify-content: center;
        gap: 35px;
    }
    .subHeading{
        text-align: center;
        margin-bottom: 50px;
    }
    .subHeading + div{
        justify-content: center;
    }
}