.aboutText{
    width: clamp(200px, 50%, 800px);
    font-size: 0.85em;
}
.aboutText span{
    margin: 10px 0;
    display: flex;
}
.subHeading{
    margin: 10px 0 30px 0;
    font-size: 2em;
    text-align: right;
    font-weight: 600;
}
.links{
    margin-top: 50px;
    display: flex;
    gap: 25px;
    align-items: center;
    font-size: 3em;
}
.links svg{
    transition: 0.2s;
}
.links svg:hover{
    scale: 1.1;
}