.navWrapper{
    position: fixed;
    bottom: 0px;
    padding: 8px 0;
    backdrop-filter: blur(4px);
    width: 100vw;
}

.navUlItems{
    display: flex;
    flex-direction: column;
    align-items: center;
}
@media (min-width: 640px) {
    .navWrapper{
        display: none;
    }
}