.contactContainer{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    padding: 0 20px;
}.tile{
    justify-content: space-evenly;
    align-items: center;
    padding: 15px 0;
    width: 180px;
    display: flex;
    font-size: 1em;
    font-weight: 600;
    border-radius: 10px;
    background: #fff;
    border: 1px solid #333;
    transition: 0.2s;
}
.tile:hover{
    background: rgb(39, 39, 39);
    color: white;
}
.tileDark{
    transition: 0.2s;
    background: #1e293b;
    border: 0;
}
.tileDark:hover{
    background: #deedff;
    color: rgb(39, 39, 39);
}
.tile svg{
    font-size: 1.5em;
}
.formInput {
    width: 100%;
    resize: none;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    line-height: 1.5;
    font-weight: 600;
    color: #4a5568;
    border-bottom: 2px solid transparent; 
    outline: none;
    transition: 0.2s;
    background: #fff;
    border-radius: 8px;
}
.formInputDark{
    width: 100%;
    resize: none;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    line-height: 1.5;
    font-weight: 600;
    color: #dee2eb; 
    border-bottom: 2px solid transparent; 
    outline: none;
    transition: 0.2s;
    background: #1e293b;
    border-radius: 8px;
}
.formInput:focus {
      border-bottom: 2px solid #596370; 
}
.formInputDark:focus {
      border-bottom: 2px solid #13eeb3; 
}
.contactFormContainer{
    display: flex;
    gap: 26px;
    justify-content: space-between;
    margin-bottom: 100px;
    padding: 0 50px;
}

.contactFormContainer img {
    width: clamp(250px, 50%, 600px);
    height: auto;
    object-fit: contain;
    object-position: top;
    border-radius: 20px;

}
.contactFormContainer form {
width: clamp(0px, 60%, 800px);
}
.ptag{
    padding: 0 50px 20px 50px;
}
.toast{
    background: #01182ede;
    backdrop-filter: blur(5px);
    color: white;
    border-radius: 1px;
}
.toastLight{
    background: #ffffffaa;
    backdrop-filter: blur(5px);
    color: rgb(39, 39, 39);
    border-radius: 1px;
}
.sendBtnArea{
    display: flex;
    justify-content: flex-end;
}
.sendBtnArea img{
    height: 30px;
}

@media (max-width: 640px){
    .contactContainer{
        justify-content: center;
    }
    .contactFormContainer{
        padding: 0 20px;
    }
    .ptag{
        padding: 0 0 20px 20px
    }
}
@media (max-width: 430px){
    .tile{
        width: 230px;
    }
}
@media (max-width: 1024px){
    .contactFormContainer{
        flex-direction: column-reverse;
        align-items: center;
        gap: 150px;
    }
    .contactFormContainer form{
        width: 100%;
    }
}