.main{
    height: calc(100vh - 120px);
   display: flex;
   justify-content: space-between;
   color: rgb(218, 235, 217);
   align-items: center;
   position: relative;
   margin: 0 50px;
}
.heroText{
    width: 60%;
}
.heroText p:first-child{
    font-size: 1.3rem;
}
.name{
    font-size: clamp(30px, 6.5vw, 90px);
    font-weight: 600;
    line-height: 1.2em;
    transition: 0.2s;
    color: white;
}
.descBig{
    font-weight: 600;
    line-height: 1.2em;
    color: rgb(36 139 165);
    font-size: clamp(20px, 5vw, 50px);
    transition: 0.2s;
}
.descLittle{
    width: clamp(300px, 40vw, 650px);;
    padding: 20px 0;
    font-size: 0.8em;
    transition: 0.3s;
}
.heroImg{
    position: relative;
}
.heroImg img{
    /* overflow: hidden; */
    width: 300px;
    height                                                                                                                    : 400px;
    z-index: 70;
    clip-path: polygon(20% 0, 80% 0, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0 80%, 0 20%);
    object-fit: cover;
}
/* .heroImgBase{
    position: absolute;
    right: 0px;
    top: 10px;
    width: 400px;
    height: 400px;
    clip-path: polygon(15% 0, 100% 0%, 100% 100%, 16% 100%, 0 50%);
    transition: 0.2s ease;
}
.heroImg img{
   
} */