.main{
   height: calc(100vh - 120px);
   display: flex;
   justify-content: space-between;
   color: rgb(218, 235, 217);
   align-items: center;
   position: relative;
   margin: 0 50px;
}
.heroText{
    width: 62%;
    animation: fadeUp 1s;
}
.heroText p:first-child{
    font-size: 1.3rem;
}
.name{
    font-size: clamp(60px, 6.5vw, 85px);
    font-weight: 600;
    line-height: 1.2em;
    transition: 0.2s;
    color: white;
}
.descBig{
    font-weight: 600;
    line-height: 1.2em;
    color: rgb(36 139 165);
    font-size: clamp(30px, 5vw, 50px);
    transition: 0.2s;
}
.descLittle{
    width: clamp(300px, 40vw, 650px);;
    padding: 20px 0;
    font-size: 1em;
    transition: 0.3s;
}
.heroImg{
    position: relative;
    animation: fadeUp 1s;
    box-shadow: 20px 20px 90px 10px #00aeff4d, 0 0 8px rgba(0, 0, 0, 0.197);
    border-radius: 100px;
}
.heroImg img{
    /* overflow: hidden; */
    width: auto;
    height: 400px;
    z-index: 70;
    border-radius: 40px;
    object-fit: cover;
}

@keyframes fadeUp {
    0%{
        opacity: 0;
        transform: translateY(-40px);
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}
@media (max-width: 1024px) {
    .main{
        flex-direction: column;
        gap: 100px;
        margin: 60px 20px;
        height: fit-content;
    }
    .heroText{
        width: 100%;
        display: flex;
        flex-direction: column;
        height: 100%;
        gap: 10px;
        align-items: center;
        text-align: center;
    }
    .descLittle{
        width: 100%;
        max-width: 500px;
    }
}