@tailwind base;
@tailwind components;
@tailwind utilities;


html{
    scroll-behavior: smooth;
    background: #010e1b;
    -webkit-tap-highlight-color: transparent;
    /* font-family: "Gabritto" */
}
.wrapper{
  padding: 20px 0;
  min-height: 100vh;
}
.wrapper > h3{
  font-size: 2.5em;
  font-weight: 600;
  margin-bottom: 40px;
  margin-top: 90px;
}
.bottom_curly_brace{
  margin-top: 10px !important;
}